.counter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    border: 1px solid #212121;
    border-radius: 12px;
    padding: 0 16px;
}

.counter-group {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}